<div class="container">

  <div class="row">
    <div class="col-12 mt-3">
      <h3>Reactive Form</h3>
    </div>
  </div>

  <hr>

  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">

    <div class="mb-3">
      <label for="reactiveUsername" class="form-label">Username</label>
      <input type="text" id="reactiveUsername" class="form-control" formControlName="reactive_username">
    </div>

    <div class="mb-3">
      <label for="reactiveSSN" class="form-label">SSN</label>
      <input type="text" id="reactiveSSN" class="form-control" formControlName="reactive_ssn" placeholder="000-00-0000" inputmode="numeric">
    </div>

    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

  </form>

</div>


